<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="edu.umich.med">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.security">
		<level value="info" />
	</logger>
	
	<!--Log all JDBC parameters-->
	<logger name="org.hibernate.type">
<!--	Use TRACE here instead of debug or all to see jdbc parameter variable binding-->
		<level value="info" /> 
	</logger>
<!--	Log all DML statements (if set to debug). Displays sql statements issued by Hibernate without bind variable values. FOr displaying bind variable values set level of the logger org.hibernate.type to TRACE-->
	<logger name="org.hibernate.SQL">
		<level value="info" />
	</logger>
	
	<logger name="org.hibernate">
		<level value="error"></level>
	</logger>
	<logger name="org.hibernate.hql.ast.AST">
		<level value="error"></level>
	</logger>
	<logger name="org.hibernate.hql">
		<level value="error"></level>
	</logger>
	<logger name="org.hibernate.cache">
		<level value="error"></level>
	</logger>
		<logger name="org.hibernate.jdbc">
		<level value="error"></level>
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
